<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminData</servlet-name>
  	<display-name>AdminData</display-name>
  	<description></description>
  	<servlet-class>servletclass.AdminData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pracrice</servlet-name>
  	<display-name>pracrice</display-name>
  	<description></description>
  	<servlet-class>servletclass.pracrice</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentData</servlet-name>
  	<display-name>StudentData</display-name>
  	<description></description>
  	<servlet-class>servletclass.StudentData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterStudent</servlet-name>
  	<display-name>RegisterStudent</display-name>
  	<description></description>
  	<servlet-class>servletclass.RegisterStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveAdmin</servlet-name>
  	<display-name>SaveAdmin</display-name>
  	<description></description>
  	<servlet-class>servletclass.SaveAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTeacherDetails</servlet-name>
  	<display-name>UpdateTeacherDetails</display-name>
  	<description></description>
  	<servlet-class>servletclass.UpdateTeacherDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherLogin</servlet-name>
  	<display-name>TeacherLogin</display-name>
  	<description></description>
  	<servlet-class>servletclass.TeacherLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveStudent</servlet-name>
  	<display-name>SaveStudent</display-name>
  	<description></description>
  	<servlet-class>servletclass.SaveStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudent</servlet-name>
  	<display-name>UpdateStudent</display-name>
  	<description></description>
  	<servlet-class>servletclass.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminData</servlet-name>
  	<url-pattern>/AdminData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pracrice</servlet-name>
  	<url-pattern>/pracrice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentData</servlet-name>
  	<url-pattern>/StudentData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterStudent</servlet-name>
  	<url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveAdmin</servlet-name>
  	<url-pattern>/SaveAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTeacherDetails</servlet-name>
  	<url-pattern>/UpdateTeacherDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherLogin</servlet-name>
  	<url-pattern>/TeacherLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveStudent</servlet-name>
  	<url-pattern>/SaveStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudent</servlet-name>
  	<url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
</web-app>
